Repository i-dot-ai/minute: changes, and which pre-commit hooks are due for each by the changed paths.
All: detect-ip, npm-format

detect-ip:
  name: Detect IP addresses
  entry: ^(?!0\.0\.0\.0$)(?!127\.0\.0\.1$)\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}
  language: pygrep

npm-format:
  name: Format frontend files
  entry: bash -c 'cd frontend && npm i && npm run prettier:fix'
  language: system
  pass_filenames: false

fix: touch heartbeat file on startup
  worker/ray_recieve_service.py
Due: detect-ip

fix: add startPeriod to healthcheck
  terraform/ecs.tf
Due: detect-ip

refactor: use i.AI auth api to authorise user
  frontend/middleware.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/utils/auth.ts
Due: detect-ip, npm-format

refactor: display error page on unhandled auth error
  frontend/app/generic-error/page.tsx
  frontend/middleware.ts
Due: detect-ip, npm-format

fix: install curl in dockerfile
  backend/Dockerfile
  worker/Dockerfile
Due: detect-ip

refactor: remove health.sh for backend healthcheck
  backend/Dockerfile
  terraform/ecs.tf
  worker/healthcheck.py
  worker/ray_recieve_service.py
Due: detect-ip

fix: healthcheck command
  terraform/ecs.tf
Due: detect-ip

refactor: change backend to auth user via auth api
  backend/api/dependencies/get_current_user.py
  common/auth.py
  common/logger.py
  common/settings.py
  poetry.lock
  pyproject.toml
Due: detect-ip

chore: linting
  backend/api/dependencies/get_current_user.py
  common/auth.py
  common/logger.py
  common/settings.py
Due: detect-ip

refactor: use python script for worker healthcheck instead of FastAPI
  docker-compose.yaml
  poetry.lock
  pyproject.toml
  terraform/ecs.tf
  worker/entrypoint.sh
  worker/healthcheck.py
Due: detect-ip

fix: queue name env vars
  terraform/ecs.tf
Due: detect-ip

fix: add llm queues to ecs iam policy
  terraform/iam.tf
Due: detect-ip

test: purge both queues in tests
  common/services/queue_services/__init__.py
  tests/test_queues_e2e.py
Due: detect-ip

feat: remove ray Queues, add worker health check
  .env.example
  backend/Dockerfile
  backend/api/routes/chat.py
  backend/api/routes/minutes.py
  backend/api/routes/transcriptions.py
  common/services/minute_handler_service.py
  common/services/queue_services/__init__.py
  common/services/queue_services/azure_service_bus.py
  common/services/queue_services/base.py
  common/services/queue_services/sqs.py
  common/settings.py
  docker-compose.yaml
  localstack-setup.sh
  poetry.lock
  pyproject.toml
  terraform/ecs.tf
  terraform/iam.tf
  terraform/sqs.tf
  tests/test_queues_e2e.py
  worker/Dockerfile
  worker/entrypoint.sh
  worker/healthcheck.py
  worker/ray_recieve_service.py
  worker/worker_service.py
Due: detect-ip

fix: circular import
  common/auth.py
  common/logger.py
  common/settings.py
Due: detect-ip

feat: template types design changes
  frontend/app/layout.tsx
  frontend/app/templates/[templateId]/page.tsx
  frontend/app/templates/components/document-template-editor.tsx
  frontend/app/templates/components/example-templates-dialog.tsx
  frontend/app/templates/components/form-template-editor.tsx
  frontend/app/templates/components/user-templates-list.tsx
  frontend/app/templates/new/page.tsx
  frontend/app/templates/page.tsx
  frontend/components/ui/sonner.tsx
  frontend/package-lock.json
  frontend/package.json
Due: detect-ip, npm-format

fix: instantiate environment without Field() to allow for references inside the settings class
  common/settings.py
Due: detect-ip

infra: prepare terraform for gds auth switchover
  .env.example
  terraform/data.tf
  terraform/ecs.tf
  terraform/secrets.tf
Due: detect-ip

feat: redesign template editors, add text to buttons
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/new/layout.tsx
  frontend/app/new/page.tsx
  frontend/app/new/record-audio/page.tsx
  frontend/app/new/record-virtual/page.tsx
  frontend/app/new/upload/page.tsx
  frontend/app/page.tsx
  frontend/app/settings/page.tsx
  frontend/app/templates/[templateId]/page.tsx
  frontend/app/templates/components/document-template-editor.tsx
  frontend/app/templates/components/form-template-editor.tsx
  frontend/app/templates/components/user-templates-list.tsx
  frontend/app/templates/layout.tsx
  frontend/app/transcriptions/layout.tsx
  frontend/components/layout/header.tsx
  frontend/components/recent-meetings/transcription-card.tsx
  frontend/components/recent-meetings/transcription-list-item.tsx
  frontend/components/transcription-title-editor.tsx
  frontend/components/ui/history-back-button.tsx
Due: detect-ip, npm-format

fix: broken import
  backend/api/dependencies/get_current_user.py
  common/auth.py
  common/logger.py
  common/settings.py
Due: detect-ip

fix: make auth api url available on backend and frontend
  terraform/ecs.tf
Due: detect-ip

refactor: move proxy logic before frontend auth to prevent recursive authorisation calls
  frontend/middleware.ts
Due: detect-ip, npm-format

bump terraform version
  terraform/provider.tf
Due: detect-ip

refactor: public paths update and truthiness guard around auth check
  frontend/middleware.ts
Due: detect-ip, npm-format

refactor: swap out authentication layer
  terraform/ecs.tf
Due: detect-ip

fix: lock file mismatch post rebase
  poetry.lock
Due: none

chore: frontend linting fixes
  frontend/app/generic-error/page.tsx
  frontend/middleware.ts
  frontend/package.json
  frontend/utils/auth.ts
Due: detect-ip, npm-format

fix: rebase issues
  common/settings.py
Due: detect-ip

fix: more rebase settings woes
  common/settings.py
Due: detect-ip

feat: autogenerate title when transcription finished
  common/generate_meeting_title.py
  common/prompts.py
  common/services/transcription_handler_service.py
Due: detect-ip

feat: remove default title
  frontend/app/transcriptions/[transcriptionId]/page.tsx
  frontend/components/recent-meetings/transcription-card.tsx
  frontend/components/transcription-title-editor.tsx
  frontend/hooks/useStartTranscription.ts
Due: detect-ip, npm-format

fix: notify slack release step
  .github/workflows/release.yml
Due: detect-ip

fix: cleanup cronjob
  backend/cleanup_job.py
  backend/main.py
  common/database/postgres_database.py
  common/services/minute_handler_service.py
  poetry.lock
  pyproject.toml
Due: detect-ip

feat: remove strict retention period policy
  backend/api/routes/users.py
  common/database/postgres_models.py
  common/types.py
  frontend/app/page.tsx
  frontend/app/settings/page.tsx
  frontend/components/layout/DataRententionNotice.tsx
  frontend/components/layout/SettingsDialogue.tsx
  frontend/lib/client/types.gen.ts
Due: detect-ip, npm-format

Path conditions:
  detect-ip: any of: ., but not: ^static/|\.lock
  npm-format: any of: ^frontend/
