Repository i-dot-ai/minute: changes, and which pre-commit hooks are due for each by the changed paths.
All: detect-ip, npm-format

detect-ip:
  name: Detect IP addresses
  entry: ^(?!0\.0\.0\.0$)(?!127\.0\.0\.1$)\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}
  language: pygrep

npm-format:
  name: Format frontend files
  entry: bash -c 'cd frontend && npm i && npm run prettier:fix'
  language: system
  pass_filenames: false

feat: add data rention period warning
  frontend/components/recent-meetings/paginated-transcriptions.tsx
Due: detect-ip, npm-format

fix: stay on same page when deleting transcriptions
  backend/api/routes/transcriptions.py
  frontend/components/recent-meetings/paginated-transcriptions.tsx
Due: detect-ip, npm-format

fix: cleanup cronjob
  backend/cleanup_job.py
  backend/main.py
  common/database/postgres_database.py
  common/services/minute_handler_service.py
  poetry.lock
  pyproject.toml
Due: detect-ip

feat: remove strict retention period policy
  backend/api/routes/users.py
  common/database/postgres_models.py
  common/types.py
  frontend/app/page.tsx
  frontend/app/settings/page.tsx
  frontend/components/layout/DataRententionNotice.tsx
  frontend/components/layout/SettingsDialogue.tsx
  frontend/lib/client/types.gen.ts
Due: detect-ip, npm-format

chore: clean up job runs at 23:00
  backend/cleanup_job.py
Due: detect-ip

chore: remove unnecessary error logging from check_exists
  common/services/storage_services/s3.py
Due: detect-ip

chore: update poetry version in checks
  .cruft.json
  .github/workflows/checks.yml
  pyproject.toml
Due: detect-ip

chore: add posthog events for templates
  frontend/app/templates/[templateId]/page.tsx
  frontend/app/templates/components/example-templates-dialog.tsx
  frontend/app/templates/components/user-templates-list.tsx
  frontend/app/templates/new/page.tsx
Due: detect-ip, npm-format

update lock file
  poetry.lock
Due: none

strict equality check
  frontend/middleware.ts
Due: detect-ip, npm-format

update location of pydantic models for db related schemas in README
  alembic/README.md
Due: detect-ip

chore: remove feature flag for user added templates
  frontend/app/templates/layout.tsx
  frontend/components/layout/header.tsx
  frontend/components/template-select/template-select.tsx
  frontend/lib/feature-flags.ts
Due: detect-ip, npm-format

fix: suspense around useSearchParams
  frontend/app/page.tsx
  frontend/app/templates/new/page.tsx
  frontend/app/transcriptions/page.tsx
Due: detect-ip, npm-format

Align ecs versions to latest
  terraform/ecs.tf
Due: detect-ip

cleanup middleware and variable post-review
  frontend/lib/auth/index.ts
  frontend/lib/auth/types.ts
  frontend/middleware.ts
  terraform/ecs.tf
Due: detect-ip, npm-format

add missing token handling for local dev usage
  backend/api/dependencies/get_current_user.py
  common/auth.py
  common/services/exceptions.py
Due: detect-ip

re-add pages not requiring authorisation
  frontend/middleware.ts
Due: detect-ip, npm-format

fix exceptions file formatting
  common/services/exceptions.py
Due: detect-ip

remove unneeded pass statement
  common/services/exceptions.py
Due: detect-ip

refactor: auth api setting passed outside of shared vars
  terraform/ecs.tf
Due: detect-ip

bump ray version
  poetry.lock
  pyproject.toml
Due: detect-ip

init: configuration
  evals/transcription/.env.example
  evals/transcription/.gitignore
  evals/transcription/README.md
  evals/transcription/pyproject.toml
  evals/transcription/uv.lock
Due: detect-ip

feat: evaluation implementation
  evals/transcription/.env.example
  evals/transcription/README.md
  evals/transcription/pyproject.toml
  evals/transcription/src/adapters/__init__.py
  evals/transcription/src/adapters/azure.py
  evals/transcription/src/adapters/base.py
  evals/transcription/src/adapters/whisper.py
  evals/transcription/src/core/__init__.py
  evals/transcription/src/core/config.py
  evals/transcription/src/core/dataset.py
  evals/transcription/src/core/metrics.py
  evals/transcription/src/core/runner.py
  evals/transcription/src/evaluate.py
  evals/transcription/src/utils/__init__.py
  evals/transcription/src/utils/sample_selection.py
Due: detect-ip

feat: hardware acceleration
  evals/transcription/src/adapters/whisper.py
Due: detect-ip

feat: ami dataset
  evals/transcription/.gitignore
  evals/transcription/README.md
  evals/transcription/src/core/ami_dataset.py
  evals/transcription/src/core/config.py
  evals/transcription/src/core/dataset.py
  evals/transcription/src/evaluate.py
  evals/transcription/transcription_eval.py
  evals/transcription/uv.lock
Due: detect-ip

feat: fractional samples
  evals/transcription/src/core/ami_dataset.py
  evals/transcription/src/core/dataset.py
  evals/transcription/src/evaluate.py
Due: detect-ip

feat: performance improvements
  evals/transcription/src/core/ami_dataset.py
  evals/transcription/src/core/runner.py
  evals/transcription/src/evaluate.py
Due: detect-ip

feat: save results with timestamps
  evals/transcription/src/evaluate.py
Due: detect-ip

chore: cleanup
  evals/transcription/src/core/runner.py
  evals/transcription/src/evaluate.py
  evals/transcription/src/utils/__init__.py
  evals/transcription/src/utils/sample_selection.py
  evals/transcription/transcription_eval.py
Due: detect-ip

chore: remove colab ref
  evals/transcription/transcription_eval.py
Due: detect-ip

draft: add evaluation implementation adr
  documentation/adr/011-adr-evaluation-implementation-scheduling.md
Due: detect-ip

chore(docs): phrasing improvements
  documentation/adr/011-adr-evaluation-implementation-scheduling.md
Due: detect-ip

Path conditions:
  detect-ip: any of: ., but not: ^static/|\.lock
  npm-format: any of: ^frontend/
